@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    background-color: #131519;
}

.feedback-section{
    max-width: 420px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background: radial-gradient(circle at top, hsl(213, 19%, 18%), #121417);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.116);
}

.star-icon{
    width: 90%;
}

.star-image{
    width: 60px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252D37;
}

.feedback-description{
    color: white;
    width: 90%;
}

h1{
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
}

p{
    font-size: 16px;
    color: #959494;
    line-height: 25px;
}

.rating-buttons{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-button{
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 55px;
    background-color: #252D37;
    color: white;
    cursor: pointer;
    margin: 25px 0;
}

.rating-button:hover{
    background-color: #6A6D71;
}

.rating-button:active{
    background-color: #E68226;
}

.selected{
    background-color: #E68226;
}

.submit{
    max-width: 365px;
    width: 100%;
    max-height: 59px;
    height: 100%;
    background-color: #E68226;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.submit:active{
    background-color: white;
    color: #E68226;
}

@media (max-width: 500px) {
    .feedback-section{
        width: 90%;
        height: 90%;
    }

    .feedback-description{
        width: 85%;
    }

    h1{
        font-size: 24px;
    }

    .star-icon{
        width: 85%;
    }

    .rating-buttons{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .rating-button{
        width: 55px;
        height: 50px;
        margin: 25px 0;
    }

    .submit{
        width: 85%;
        height: 85%;
    }
    
}

@media (max-width: 350px) {
    h1{
        font-size: 18px;
    }

    .rating-button{
        width: 35px;
        height: 35px;
        margin: 25px 0;
    }

    .submit{
        width: 85%;
        height: 45px;
        font-size: 20px;
    }
}