@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    background-color: #131519;
}

main{
    max-width: 420px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background: radial-gradient(circle at top, hsl(213, 19%, 18%), #121417);
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.116);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.rating-section{
    height: 100px;
    margin-top: 50px;
}

.rating-message-section{
    width: 230px;
    height: 35px;
    border-radius: 20px;
    background-color: hsla(213, 20%, 18%, 0.589);

    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-message{
    color: #E68226;
}

.thank-you-section{
    width: 80%;
    height: 160px;
}

.thank-you-heading{
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.thank-you-text{
    color: white;
    line-height: 25px;
    font-size: 16px;
}

@media (max-width: 500px) {
    main{
        width: 90%;
        height: 90%;
    }

    .rating-section{
        height: 90px;
        margin-top: 30px;
    }

    .thank-you-section{
        width: 80%;
        height: 180px;
    }
}

@media (max-width: 350px) {
    h1{
        font-size: 18px;
    }

    .rating-section{
        height: 90px;
        margin-top: 20px;
    }

    .thank-you-section{
        width: 80%;
        height: 210px;
    }

}